[2013-09-20 18:32] jegonzal opened #4 "Finish Graph Unit Test"
We need to fill out the rest of the tests for the GraphAPI.

[2013-09-20 18:34] jegonzal opened #5 "Add ALS to Analytics"
To provide a better benchmark we need some additional applications for the analytics toolkits.

[2013-09-20 18:37] jegonzal opened #6 "Evaluate switching vertices RDD to use IndexedRDD"
Before actually switching the vertices to used the new IndexedRDD we should first evaluate how this will play with the replicated vertex table. I am a little concerned that we might need to rethink the design slightly.

[2013-09-20 18:41] jegonzal opened #7 "Switching Tuple2 to Product2 when broadcasting"
To go from the vertex table to the replicated vertex table we key each vertex record by the partition id which forces us to ship the partition id across the network (which is not strictly necessary).

See:

https://github.com/amplab/graphx/blob/master/graph/src/main/scala/org/apache/spark/graph/impl/GraphImpl.scala#L312

@rxin you had some thoughts about how we could use the Product2 changes to ad

[2013-09-20 18:49] jegonzal opened #8 "Multiple versions of AggregateNeighbors"
The aggregateNeighbors function presents edgeTriplets to the user defined map function.  Lets provide an additional version that leaves the center vertex data as NULL.  This should reduce communicate by half for algorithms like PageRank.

[2013-09-20 18:51] jegonzal opened #9 "Add Mean Field Inference to Analytics"
Add a basic implementation of the variational mean field algorithm to Analytics. In addition create a synthetic noisy image generator.

[2013-09-20 18:52] jegonzal opened #10 "Bytecode Inspection to delegate aggregateNeighbors"
Use byte code inspection to delegate the aggregate neighbors call to the appropriate implementation.

[2013-09-20 18:53] jegonzal commented on #8
This is actually mildly more tricky then we originally anticipated since we will need to tag the PID table for each vertex to know where its in and out neighbors are located.

[2013-09-20 18:56] jegonzal opened #11 "Synthetic Graph Generators"
To help with benchmarking lets create some synthetic graph generators.  The Pregel paper describes a log-normal generator which is relatively easy to implement.

[2013-09-24 01:52] dcrankshaw commented on #11
Where should the graph generator code go?

[2013-09-24 02:35] rxin commented on #11
How about in the utils package?

[2013-09-30 05:47] jegonzal commented on #11
We should also add an RMat graph generator.  See http://www.cs.cmu.edu/~christos/PUBLICATIONS/siam04.pdf for details.

[2013-10-01 02:08] dcrankshaw opened #12 "Add ReduceEdges operator"
Add an operator that takes the set of edge triplets between two connected vertices and a reduce function that emits a single edge triplet. We need to decide how this will handle edges of opposite directions because a user should be able to reduce just the incoming edges, just the outgoing edges, or both(?).

[2013-10-01 06:49] jegonzal commented on #12
Lets use the following semantics:

[code]

where `f` is passed all the edges with the same src and dest pairs and returns a new edge attribute.  For example if the edge list is the following:

[code]

Then a the following invocation:

[code]

produces a graph with the following:

[code]

We should create a second function to collapsed the above edges into a single "undirected edge."

[2013-10-01 06:55] jegonzal opened #13 "Partition by Canonical Edge Direction"
To be able to efficiently collapse edges in reverse directions we need the edge partitioner to always place the edges (u,v) and (v,u) on the same machine.  The current edge partition logic is (defined in https://github.com/amplab/graphx/blob/master/graph/src/main/scala/org/apache/spark/graph/impl/GraphImpl.scala#L375):

[code]

For now I propose adding:

[code]

[2013-10-01 07:00] jegonzal opened #14 "Modifications to Aggregate Neighbors"
Based on our discussion in the weekly meeting we want to make the following change to aggregate neighbors.  The current version is:

[code]

It is worth noting that we actually did have the center vertex as an argument to the map function (addressing the primary issue).  Regardless, the proposed simplification is:

[code]

The new semantics of `mapFunc` is that it takes an edge triplet and then em

[2013-10-01 07:05] jegonzal commented on #11
Did we ever find a location to place this code?

[2013-10-04 20:38] jegonzal opened #16 "Fix Analytics.scala"
Remove broken commented code and fix primary functions: PageRank, Shortest Path, connected components etc...

Also split out ALS and other non-analytics tasks.

[2013-10-05 22:50] dcrankshaw commented on #13
I added this code in a new method called canonicalEdgePartitionFunction2D. I think we should evaluate how this affects load-balancing at some point though.

[2013-10-06 05:15] jegonzal commented on #13
Agreed!  The 2D Partitioning can lead to terrible load balance on star
graphs.  We should definitely evaluate the implications.

[2013-10-07 03:09] dcrankshaw commented on #12
I added the initial code to do this in my repo (dcrankshaw/graphx). I actually added two methods (for primarily debugging reasons):

[code]

We should discuss on Monday what the semantics of the second function to collapse opposing edges into a single edge should be. A few options I've thought of are:
- Duplicating the edge so we have two edges with the same edge data and opposite src, dst vertice

[2013-10-07 22:39] dcrankshaw commented on #13
We need to change the partitioner to be an upper triangular partitioning.

[2013-10-07 23:37] jegonzal commented on #12
Let's just do `groupEdges` and add `groupEdgeTriplets` later when it is needed.

[2013-10-11 22:42] dcrankshaw opened #20 "Stack Overflow caused by repeated calls to default Java serialized data reader"
When we run PageRank for too many iterations (100 iterations consistently triggers it), we get a stack overflow that stems from reading deeply nested serial data using the default java serializer. Basically, we get repeated calls to the following sequence of methods

[code]

@ankurdave poked around a little bit and he said that Kryo seemed to be getting called on most things but apparently not wha

[2013-10-11 23:25] rxin commented on #20
Do you know what object kryo was trying to serialize?

The problem looks like Kryo is trying to serialize an object without a zero-argument constructor, and then it couldn't find a zero argument constructor so it falls back to Java?

[2013-10-15 03:27] amatsukawa opened #24 "Add a strongly connected components example"
Add a distributed algorithm for computing strongly connected components as an example.

This looks promising: http://www.sandia.gov/~sjplimp/papers/jpdc05.pdf. Rather than use DFS which is hard to parallelize, it finds SCCs using the intuition that the SCC that a vertex belongs to is the intersection of the set of vertices that can reach it and the set of vertices that it can reach.

[2013-10-15 03:31] amatsukawa commented on #24
Three questions:

(1) Where should this code go? `Analytics.scala` seems to be the closest, but perhaps we should start an example package for graphx like there is for spark? (That file also needs to be cleaned up, which I'm happy to do too)

(2) Is it more idiomatic when writing algorithms to directly use the Graph interface, or to write these algorithms using the Pregel or GraphLab implementatio

[2013-10-15 09:31] jegonzal commented on #24
(1) The SCC code should go in Analytics which definitely needs a cleaning.  We have a slightly cleaner version in the benchmarks branch.

(2) We had originally planned to implement things on top of GraphLab/Pregel interface but the cool part about GraphX is you can (and should) use whatever is easiest.  The `GraphOps.scala` file contains a collection of other helper functions and if there is a com

[2013-10-15 09:33] jegonzal commented on #24
Also I think @semihsalihoglu had published some work on a scalable (map-reduce) implementation of SCC and so he may be able to suggest some algorithms.

[2013-10-15 09:41] jegonzal commented on #24
After going over Semih's code some more it looks like he already built an implementation on top of a slightly earlier version of GraphX:

https://github.com/semihsalihoglu/graphx-primitives/blob/graph/graph/src/main/scala/spark/graph/examples/ExampleAlgorithms.scala#L115

It might make sense to collaborate with him on developing the Analytics package further.  He is visiting the AMPLab next week s

[2013-10-15 15:46] semihsalihoglu commented on #24
Hi everyone,

The tech report that Joey has in mind is this:
http://ilpubs.stanford.edu:8090/1077/ It contains an SCC algorithm and some
optimizations for it for Pregel-like systems. Another algorithm you can
consider implementing is the DCSC algorithm from here:
http://ipdps.cc.gatech.edu/2000/irreg/18000506.pdf, though it won't perform
well on many real-world graphs.

I would be very happy to me

[2013-10-15 16:41] amatsukawa commented on #24
Ah, excellent I will definitely give the tech report a read. The paper I linked is the DCSC algorithm, and a trim step. I would love to meet, if we can figure out a day ahead of time I can actually come to Berkeley and join you in person.

[2013-10-16 23:24] jegonzal opened #25 "Triplets.collect returns incorrect values"
The spark RDD.collect operation stores the output directly into an array.  Since we reuse the iterator values only a single edge triplet is stored (in duplicate) for each partition.

[2013-10-18 20:57] ankurdave commented on #14
@jegonzal, do we still want this interface change after merging #23? I can port the change over if so.

[2013-10-18 21:10] #14 closed, assigned to ankurdave

[2013-10-19 19:01] jegonzal commented on #20
Did we resolve this issue?

[2013-10-19 19:02] jegonzal commented on #13
Has this been resolved?

[2013-10-19 19:03] jegonzal commented on #12
Has this been resolved?

[2013-10-19 19:04] jegonzal commented on #11
This github "bug/feature" is getting a little confusing.  So is this issue closed?  As far as I can tell the generator code has been written but possibly not tested?

[2013-10-19 19:05] ankurdave commented on #6
PR #23 closes this.

[2013-10-19 19:05] #6 closed, assigned to ankurdave

[2013-10-19 19:05] rxin commented on #20
I don't think we have resolved this one.

[2013-10-19 19:05] jegonzal commented on #4
I believe this issue was addressed in @ankurdave pull request #29.

[2013-10-19 19:05] #4 closed, assigned to dcrankshaw

[2013-10-19 19:06] jegonzal commented on #7
Resolved.

[2013-10-19 19:06] #7 closed, assigned to rxin

[2013-10-19 19:11] jegonzal opened #31 "Efficient storage of partition ids for each vertex. (the vid2pid map)"
This is really two issues that may need to be solved simultaneously:
1. Storing Pids for each vertex in either an Array[Pid] or a BitSet
2. Storing the directionality of edges associated with each Pid.  This is needed to support single sided joins with the edge table.

The second issue is slightly more pressing since in order to support the join optimization in `mapReduceTriplets` in which we only

[2013-10-19 19:19] jegonzal opened #32 "Lazy evaluation of join and map operations"
The `VertexSetRDD[VD]` stores the vertex attributes as an `IndexedSeq[VD]`.  When a `VertexSetRDD` is first constructed from an `RDD[(Vid,VD)]` the attributes are stored in an `Array[VD]`.  When `mapValues` is in invoked on a `VertexSetRDD[VD]` a _new_ array is created and populated with the result of the map operation.

https://github.com/amplab/graphx/blob/master/graph/src/main/scala/org/apache/

[2013-10-19 19:23] jegonzal commented on #32
The current justification for two separate strategies is that the join operation is "light weight" and so recomputing it would not be costly.  Alternatively, the mapValues operation could be arbitrarily expensive.

[2013-10-21 21:53] dcrankshaw commented on #13
Not yet. The naive fix of making sure that all the processors have an equal section of the upper triangular adjacency matrix is easy enough. But I think this still loses good load balancing properties because the sections won't be square anymore.

[2013-10-21 21:55] dcrankshaw commented on #12
These have been implemented but right now they rely on an entire edge partition being able to fit in memory. That's probably okay for now.

[2013-10-21 21:55] #12 closed, assigned to dcrankshaw

[2013-10-21 21:56] dcrankshaw commented on #11
Yeah it needs to be cleaned up and I need to write tests for it. I'll do that this week.

[2013-10-22 03:01] amatsukawa commented on #24
Ok, jotting down more thoughts after taking a look at the algorithms mentioned above and the implementations. The graph-coloring based SCC algorithm is a similar algorithm to SCDC algorithm originally linked in this issue but with greater parallelism, I think it's a great candidate for implementation here.

Taking a look at implementations in Semih's repository, it seems that the algorithms are im

[2013-10-22 04:48] semihsalihoglu commented on #24
For the SCC algorithm: I have tried both the DCSC algorithm and Coloring
and ran them on multiple graphs up to 6-7B edges and 500M vertices.
Although both are implementable in a vertex-centric parallel fashion, my
suggestion is to go with Coloring. It converges much faster on real graphs.

For the primitives: I think all the primitives can be implemented on top of
the Pregel and probably GraphLab

[2013-10-24 22:45] jegonzal opened #35 "Edge contraction"
Based on our discussion today it seems like it might be helpful to have a function of the form:

[code]

where the user defined edge predicate `ePred` determines which edges to contract and the user defined `contractFun` renders a new vertex for the contracted edge and `mergeFun` merges multiple vertices that have been contracted together.

[2013-10-27 18:36] jegonzal commented on #35
This function is actually pretty challenging given that an invocation of:

[code]

computes connected components.

[2013-10-28 05:06] dcrankshaw opened #36 "Update README for GraphX"
We should update the README so that it discusses GraphX not Spark. We probably want a little bit about how GraphX works as well as quickstart instructions.

[2013-10-30 01:06] amatsukawa opened #39 "Implement a "project" operation on Graph"
For `Graph[VD1, ED1]`, implement `Graph#project[VD2, ED2](otherGraph: Graph[VD2, ED2]): Graph[VD1, ED1]`.

`G.project(G')` returns a subgraph of G with vertices and edges from G such that its structure matches with G',

Useful in filter operations where you compute some value on vertices and edges of G to use to subgraph, but you really want a subgraph of G, eg

`val g = g.project(preprocess(g).su

[2013-10-30 01:27] amatsukawa opened #40 "Implement an "extendedSubgraph" function on Graph"
Should we implement a variation of the subgraph function, where `extendedSubgraph(vPred, ePred)` returns a graph containing edges satisfying `ePred(e) && (vPred(dst) || vPred(srs))`, and vertices either satisfying `vPrd(v)` or is connected to an edge that satisfies the previous condition.

Can be used to implement a propagate-and-aggregate wit the ability to specify specific vertices that start th

[2013-10-30 03:57] dcrankshaw commented on #13
Fixed for now by doing a random vertex cut on canonical edges. This will have to be reconsidered if we go back to 2D partitioning.

[2013-10-30 03:57] #13 closed, assigned to dcrankshaw

[2013-10-31 08:11] ankurdave opened #42 "ClassCastException: s.c.m.HashSet cannot be cast to s.c.m.BitSet"
GraphX sometimes fails with the following stack trace:

[code]

[2013-10-31 16:26] jegonzal opened #45 "Graph Parsing"
Improve graph parsing and load performance.

[2013-10-31 16:40] #42 closed, assigned to nobody

[2013-11-05 05:04] jegonzal commented on #31
@ankurdave I reassigned this issue to you per our discussion today.

[2013-11-05 05:27] jegonzal commented on #31
I have an idea!  What if instead of storing an Array[Pid] or a BitSet for every vertex we instead stored an Array[Vid] for every pid?  This actually has two major advantages.  First given that there are likely < 1000 PIDs the overhead of the arrays would be small and second we could then serialize the messages to other machines as a pair of arrays rather than a bunch of objects.  To do this I thin

[2013-11-05 07:35] #36 closed, assigned to jegonzal

[2013-11-07 06:53] dcrankshaw opened #52 "PageRank causes java.util.NoSuchElementException"
When running PageRank on a cluster, sometimes I hit a NoSuchElementException that's caused somewhere in VertexSetRDD. Full stack trace and command below. The line numbers may be slightly off due to debugging printlns.

Command:

[code]

Stack Trace:

[code]

[2013-11-07 06:57] dcrankshaw commented on #52
Interestingly, https://github.com/amplab/graphx/pull/51 seems to fix the issue.

[2013-11-07 06:57] rxin commented on #52
simple code is less buggy :)

[2013-11-07 16:18] jegonzal commented on #52
Hmm, is that error in the master branch?  Those line numbers don't seem to "line-up."  I guess for now maybe it makes sense to merge #51 since it is simpler.

[2013-11-09 09:57] ankurdave opened #59 "Possible bug in GraphImpl.subgraph"
See https://github.com/amplab/graphx/commit/9a03c5fe28dffcc8c498e2a1605e714aca3ad77e#diff-40de2f32656455bb309b9cf10bf81d51R258

In GraphImpl.subgraph, this commit defines a newVidMap but passes the old localVidMap to the GraphImpl constructor. This is harmless since localVidMap is a superset of newVidMap, but it might be best to either use newVidMap or remove it.

[2013-11-10 01:26] ankurdave commented on #31
I don't understand how this would work. Could you elaborate?

Suppose we have `vTable: VertexSetRDD[VD]` and `vertexPlacement: RDD[(Pid, Array[Vid])]`, and we want `vTableReplicatedValues: RDD[(Pid, Array[VD])]`. Since these two RDDs don't share a partitioner, it seems we would need a broadcast join where each partition in `vTable` gets all elements of `vertexPlacement`. We could then populate man

[2013-11-10 02:46] jegonzal commented on #31
Essentially I was thinking something like:

[code]

Then during broadcast we would do something like:

[code]

That said, if we were really smart we could probably ensure that vertices have the same canonical ordering in the `pid2vid` map as they do in the replicated indices thereby eliminating the need to store the vid array in the `VertexAttributeBlock`.

I hope that makes sense?  I apologize fo

[2013-11-10 19:16] jegonzal commented on #31
Actually, I thought a bit more about trying to avoid sending the vertex attributes and I think thats actually going to be pretty hard to do.

[2013-11-11 23:49] #8 closed, assigned to ankurdave

[2013-11-12 00:25] #31 closed, assigned to ankurdave

[2013-11-12 01:18] ankurdave commented on #10
Fixed in #55.

[2013-11-12 01:18] #10 closed, assigned to nobody

[2013-11-12 23:40] ankurdave opened #66 "Add a flag to Analytics to keep the driver alive"
#65 adds a long delay to keep the Spark dashboard open. It would be better to have a flag for this that defaults to off.

[2013-11-12 23:49] ankurdave opened #67 "Compress vertex IDs and attributes during replication"
Possible configurations:
1. Columnar replication with sorted vertex IDs and delta compression
2. Non-columnar replication with variable-length encoding for vertex IDs

[2013-11-14 02:49] dcrankshaw opened #70 "Spark slaves die on second run of pagerank"
As I've been running benchmarks the last few days, I've noticed that I have at least 1 and usually 2 or 3 slaves die when running pagerank for the second time in a row. Occasionally I will see a `akka.pattern.AskTimeoutException` but usually it just looks like the `CoarseGrainedExecutorBackend` on that machine received a signal to terminate.

Here are the complete steps to reproduce the issue (ple

[2013-11-14 02:50] dcrankshaw commented on #70
@rxin would you mind taking a look at this?

[2013-11-14 02:57] rxin commented on #70
It is possible they are running out of memory here. Do you think they get to start the iterations when the slaves died?

BTW our static page rank doesn't do any unpersist. We should probably do that so we don't run out of memory ....

[2013-11-16 01:56] ankurdave opened #71 "Simplify GraphImpl internals"

[2013-11-16 23:00] jegonzal commented on #71
Let me know if I can help with this.

[2013-11-24 13:15] #71 closed, assigned to ankurdave

[2013-11-25 21:58] dcrankshaw commented on #70
It looks like https://github.com/amplab/graphx/pull/75 fixed this. Closing for now.

[2013-11-25 21:58] #70 closed, assigned to rxin

[2013-11-25 22:03] ankurdave opened #78 "Change to PrimitiveKeyOpenHashMap broke Spark core build"
Running `sbt/sbt doc` gives the following error:

[code]

The PrimitiveKeyOpenHashMap constructor has a default value for its only argument, but it doesn't seem to be working. Modifying the call site to pass the default argument explicitly fixes the problem.

[2013-11-25 22:29] ankurdave commented on #59
This was fixed by fad6e70add83c2a32ada1be9b3a8bbd4a69412aa.

[2013-11-25 22:29] #59 closed, assigned to jegonzal

[2013-11-25 23:58] ankurdave commented on #70
It didn't fix it for me -- in one cluster, 3 of 16 slaves would consistently die before and after #75. But since we don't have a way to reproduce this, closing it is probably fine.

[2013-12-03 11:48] utgarda commented on #78
Same here, was able to build only after specifying the default value.

[2013-12-08 23:17] ankurdave opened #96 "Bugs in VertexPartition"
In [VertexPartition.scala](https://github.com/amplab/graphx/blob/3abfbfb104465fbb4636c093580351c499e9dd81/graph/src/main/scala/org/apache/spark/graph/impl/VertexPartition.scala):
- Line 107, 127, 151: mask.nextSetBit should be newMask.nextSetBit. The current behavior is harmless but wasteful.
- Line 140: deltaJoin calls join if the indexes are different. It should call itself.
- Line 193: createUs

[2013-12-13 01:57] ankurdave opened #98 "Unpersist previous Pregel iterations"
Pregel currently does not explicitly unpersist RDDs that are created in previous iterations, forced, and will never be computed again. This slows down GC unnecessarily because the Spark caches fill up with the old iteration data. We should explicitly unpersist these RDDs to improve performance.
#93 was a first attempt at this.

[2013-12-14 14:29] ankurdave commented on #45
Is there anything left for this beyond #69, #73, and #94?

[2013-12-14 14:35] ankurdave commented on #40
After #100 is merged, I think the propagate-and-aggregate use case can done with

[code]

See the documentation for [activeSet](https://github.com/ankurdave/graphx/blob/mrTriplets-active-set/graph/src/main/scala/org/apache/spark/graph/Graph.scala#L228).

[2013-12-14 17:59] amatsukawa commented on #40
Ah that's excellent, I actually ended up not using this and took advantage
of the active vertex tracking that was already in GraphLab with minor
modifications. Feel free to close this.

On Saturday, December 14, 2013, Ankur Dave wrote:

[2013-12-14 20:51] rxin opened #101 "Changing the API of mrTriplets?"
I've been thinking about this, and I think the mapUDF part of mrTriplets is a little bit confusing because we are asking the user to return an Iterator of (Vid, A).

How about we change mapUDF's signature from EdgeTriplet to (EdgeTriplet, Emitter), and the Emitter has a function sendMessage(targetVid: Vid, message: A)?

This way it should be more efficient, but also more obvious what the mapUDF is

[2013-12-14 22:53] ankurdave commented on #101
That would probably be clearer, though it's a shame to sacrifice immutability/FP principles. If we do this, why not just put sendMessage on EdgeTriplet?

[2013-12-14 23:19] #40 closed, assigned to nobody

[2013-12-15 00:50] rxin commented on #101
That's a good idea (putting it in EdgeTriplet).

It does make it less "functional". But I don't think it sacrifices immutability though.

[2013-12-17 07:42] ankurdave opened #105 "Support incremental view maintenance for Graph.subgraph"
`Graph.subgraph` currently rejoins the filtered vertices and edges. It should instead reuse and filter the previously materialized view of the join.

[2013-12-17 20:12] rxin opened #106 "Improve pre-shuffle aggregation performance in mrTriplets"
I realized today that we can actually save the position of the source vertex and the target vertex in the array in EdgeTriplet, and then in aggregation, we can simply use that position to update the aggregation value (without actually doing any hash lookups).

Issue 101 will make this easier to implement.

https://github.com/amplab/graphx/issues/101

[2013-12-18 21:07] ankurdave opened #108 "Add LDA to Analytics"

[2013-12-18 21:08] ankurdave opened #109 "Add K-Core to Analytics"

[2013-12-18 21:10] ankurdave opened #110 "Update README"
- Add Wikipedia demo script
- Explain property graphs, Graph/GraphOps functions, and VertexRDD functions

[2013-12-18 21:13] ankurdave opened #111 "Test coverage for full GraphX API"

[2013-12-19 00:07] #39 closed, assigned to nobody

[2013-12-19 04:03] #24 closed, assigned to nobody

[2013-12-20 04:08] ankurdave opened #114 "In VertexRDD and VertexPartition, join and innerJoin are identical"
Need to remove join.

[2013-12-20 06:08] #114 closed, assigned to ankurdave

[2013-12-20 21:30] #96 closed, assigned to ankurdave

[2013-12-20 21:30] #111 closed, assigned to ankurdave

[2013-12-20 21:34] ankurdave opened #119 "Simplify GraphImpl internals further"
- VertexPlacement is only used in VTableReplicated, so it should be created on demand there rather than being passed around in GraphImpl.
- VTableReplicated should be renamed to ReplicatedVertexView.
- VertexPlacement should be renamed to VertexRoutingTable.

[2013-12-26 00:11] dcrankshaw opened #122 "Graph Load/Save"

[2013-12-26 00:12] dcrankshaw opened #123 "Add coarsen function to GraphOps"

[2013-12-31 21:51] #105 closed, assigned to ankurdave

[2014-01-03 01:00] ankurdave commented on #101
I worked on this a bit here: https://github.com/ankurdave/graphx/tree/mrTriplets-sendMessage

Compare view: https://github.com/ankurdave/graphx/commit/758e8611d1f8c5ef5debb8034c78053d1e2b9b67

[2014-01-04 20:54] #119 closed, assigned to ankurdave

[2014-01-07 02:25] #78 closed, assigned to rxin

[2014-01-07 23:13] dcrankshaw opened #131 "Make sure there is a license at the top of every file"
We need to make sure our code is properly licensed before announcing a release.

[2014-01-09 17:52] ccsevers commented on #52
I'm running into this issue in the latest version built off of #132

The code I'm running is pretty simple:

[code]

The error I see is this:
4/01/09 10:38:46 WARN scheduler.TaskSetManager: Lost TID 400 (task 4.0:0)
14/01/09 10:38:46 WARN scheduler.TaskSetManager: Loss was due to java.util.NoSuchElementException
java.util.NoSuchElementException: End of stream
    at org.apache.spark.util.NextItera

[2014-01-09 18:43] ccsevers commented on #52
Just to make it simpler you can change the input to something like:
val input = sc.parallelize(1 to 100000000, 400)
and change the flatMap input appropriately and see the same error.

edit: Also, oddly I can run it with say 11 splits on 10 works and it goes through. I see the same End of Stream error in the logs but it just fails that tasks and keeps going.

[2014-01-11 05:00] ankurdave commented on #52
Thanks for the report. I haven't yet been able to reproduce this. How many cores does Spark have in your configuration?

[2014-01-12 19:04] ccsevers commented on #52
@ankurdave I've tried it with 4-8 cores. I can try with 1 if you think it would help pin down what's going on.

edit: Just to be clear, I mean 10-20 worker nodes with 4-8 cores each. (the machines have 24 cores each though).

[2014-04-14 19:21] #5 closed, assigned to jegonzal

[2014-04-14 19:21] #98 closed, assigned to nobody

[2014-04-14 19:21] #131 closed, assigned to nobody

[2014-04-14 19:21] #110 closed, assigned to dcrankshaw

[2014-04-14 19:21] #101 closed, assigned to nobody

[2014-04-14 19:26] ankurdave commented on #131
This was accidentally closed by a commit in apache/spark, but we've fixed the issue so I'm leaving it closed.

[2014-04-14 19:29] ankurdave commented on #98
This was accidentally closed by a commit in apache/spark, but we've fixed the issue so I'm leaving it closed.

[2014-04-17 21:58] bmyerz opened #138 "[Question] Which graphx version to compare to?"
We are comparing performance on some of the example applications in Analytics.scala.
[Results](http://arxiv.org/pdf/1402.2394v1.pdf) show GraphX pagerank performs within a factor of 2-3 of Graphlab. I haven't yet been able to get near this performance.

configurations:
- twitter 1.4B edge
- 16 nodes
- branch master
- command: `bin/spark-class -Dspark.executor.memory=52g org.apache.spark.graphx.lib

[2014-04-18 00:52] ankurdave commented on #138
Those benchmarks were obtained with the [sigmod-pr](https://github.com/amplab/graphx/tree/sigmod-pr) and [sigmod-cc](https://github.com/amplab/graphx/tree/sigmod-cc) branches. The main optimization in these branches is an in-memory shuffle for Spark, which provided a 2-3x performance improvement for us on EC2.

We recently reran the PageRank and connected components benchmarks with the [vldb](http

[2014-04-19 19:56] bmyerz commented on #138
Thanks, I'm still not getting the performance I expect by a few x. Do you know the options that provided the best performance? In particular,
1. did you use the provided pagerank/cc that are implemented with `Pregel` (called from `Analytics`)
2. type of partitioning
3. numEPart, numVPart (as a function of num workers).

[2014-04-20 00:51] ankurdave commented on #138
@dcrankshaw can add details and corrections, but as I recall we used a modified version of the Analytics driver (`./bin/spark-class org.apache.spark.graphx.lib.Analytics HOST {pagerank,cc} FILENAME`) where we reduced the number of partitions by calling `RDD#coalesce` on the edge RDD before passing it to the graph constructor.

We experimented with the type and number of partitions and found that f

[2014-04-21 02:59] qianlong-zhang opened #139 "There are some issues in article "Launch a benchmarking cluster""
[code]

   when I run the command above, spark throw warnings and errors:
14/04/21 10:24:59 WARN scheduler.TaskSchedulerImpl: Initial job has not accepted any resources; check your cluster UI to ensure that workers are registered and have sufficient memory
……
Exception in thread "main" org.apache.spark.SparkException: Job aborted due to stage failure: Spark cluster looks down

   What I am sure is

[2014-04-24 17:23] bmyerz commented on #138
Are you referring to something like this? https://github.com/bmyerz/graphx/tree/coalesce-edges
I suppose I thought parsing and using EdgeBuilder would preserve the partitions as `minEdgePartitions` passed to `textFile`

I haven't exhausted the space of parameters, but so far for 64 nodes: 1 partition per node on 16-core nodes is as fast as anything else.

[2014-04-30 02:14] #138 closed, assigned to nobody

[2014-04-30 02:51] ankurdave commented on #138
Sorry I didn't get back to you. You actually have to coalesce before building the edge partitions, like this: https://github.com/amplab/graphx2/commit/ad4c87467f06f0bb244e0ce7571bf2bba144ac57

But that probably won't give you more than 50% improvement or so.

[2014-05-02 18:13] peroksid90 opened #140 "Function to remove vertex/edge"
Add functions to remove simple vertex or edge.

[2014-05-02 21:19] ankurdave commented on #140
Is [`Graph.subgraph`](http://spark.apache.org/docs/latest/api/graphx/index.html#org.apache.spark.graphx.Graph@subgraph%28%28EdgeTriplet[VD,ED]%29⇒Boolean,%28VertexId,VD%29⇒Boolean%29:Graph[VD,ED]) the operation you're looking for?

[2014-05-03 06:00] peroksid90 commented on #140
Graph.subgraph  fit for me. But i thought this was slowly  in case like this:

pseudo-code:
n=100000;
con_comp_under_attack = [];
while(n) {
          remove simple vertex from graph
          con_comp_under_attack.append( count the number of vertices on largest connected components)
          n--
}

[2014-05-03 22:11] ankurdave commented on #140
Oh, I see. Yes, the current implementation of `subgraph` is inefficient for point removals, since it rebuilds the routing table (requiring a shuffle) and constructs new edge partitions as well.

I have a pull request (apache/spark#497) that avoids the shuffle, but it still rebuilds the edge partitions. However, we plan to add a bitmask to the edges to avoid needing to rebuild them in cases like th

[2014-05-04 07:36] peroksid90 commented on #140
Thank you very much.

[2014-05-04 07:36] #140 closed, assigned to nobody

[2014-06-06 10:49] ghost opened #142 "how to install GraphX please some one help i need it very badly."
i set up hadoop cluster a long back.i can see all the folders that are given in amplab/graphx main page.but how to install graphx.what files need to be modified.please someone help please i need guidance very badly

[2014-06-06 19:51] ankurdave commented on #142
GraphX has been merged into Apache Spark, so to install it you should follow the instructions for installing Spark: http://spark.apache.org/docs/latest/

GraphX will then be available by importing org.apache.spark.graphx._: http://spark.apache.org/docs/latest/graphx-programming-guide.html#getting-started

[2014-06-06 19:51] #142 closed, assigned to nobody

[2014-06-24 03:56] zma opened #143 "Wrong PageRank results"
Hi all,

I tried the static PageRank computation on GraphX (in Spark 1.0.0) with the following code:

[code]

The `/lhome/zma/test.txt` contains a simple graph:

[code]

The PageRank implemenation (  https://github.com/amplab/graphx/blob/master/graphx/src/main/scala/org/apache/spark/graphx/lib/PageRank.scala ) uses this PageRank definition:

[code]

However, the results I get are:

[code]

The res

[2014-06-24 04:03] ankurdave commented on #143
I think you might be right, in which case the fix would be to change the `activeDirection` parameter to `EdgeDirection.Either` on lines 104 and 160 of PageRank.scala. This would cause messages to be sent _to_ updated vertices as well as from them.

@jegonzal what do you think?

[2014-06-26 02:54] isjay commented on #143
I found the code in spark1.0 is correct. But not in the master branch.
    // Define the three functions needed to implement PageRank in the GraphX
    // version of Pregel
    def vertexProgram(id: VertexId, attr: Double, msgSum: Double): Double =
      resetProb + (1.0 - resetProb) \* msgSum
    def sendMessage(edge: EdgeTriplet[Double, Double]) =
      Iterator((edge.dstId, edge.srcAttr \* edge

[2014-06-26 03:05] isjay commented on #143
graphx2
forked from apache/spark
Mirror of Apache Spark

Updated June 16, 2014

graphx
Former GraphX development repository. GraphX has been merged into Apache Spark; please submit pull requests there.

Updated April 23, 2014

[2014-06-26 03:19] zma commented on #143
@JayinHuang Thanks for the comments. But could you be more specific?

"I found the code in spark1.0 is correct. But not in the master branch."

--> What do you means by spark1.0? Could you post a link to it? I check all branches from 3 repositories

https://github.com/apache/spark
https://github.com/amplab/graphx
https://github.com/amplab/graphx2

I am afraid there is no branch named "spark1.0".

[2014-06-26 03:23] zma commented on #143
@JayinHuang

"
graphx2
forked from apache/spark
Mirror of Apache Spark

Updated June 16, 2014

graphx
Former GraphX development repository. GraphX has been merged into Apache Spark; please submit pull requests there.

Updated April 23, 2014
"

Sorry that I do not fully understand this. Could you provide more details or a direct link?

[2014-06-26 05:53] zma commented on #143
@ankurdave Thanks for the reply.

Using `EdgeDirection.Either` will make the Pregel work like this, if I understand correctly:
1. There are messgages on every edges initially.
2. Every vertex that is connected with otheres (in or out) will be activated and send messages since there are messgages on its in/out edges.

Hence, in each superstep, there is message on each edge.

If my understanding abo

[2014-06-26 08:28] jegonzal commented on #143
I have been looking into issues with the PageRank calculations and I have identified a bug which can be triggered with the following test:

https://github.com/apache/spark/pull/1228/files#diff-fa262e569c89e82b8bcfed5ef77e8307R98

In particular the `staticPageRank` when run on a graph of the following form:

[code]

will incorrectly calculate the Pagerank of (3).  However, the default Graph.pageran

[2014-06-26 14:45] zma commented on #143
@jegonzal Thanks for the updates with details!

The fix looks good to me. The improved Pregel implementation seems more "familiar" to me as I get to know the Pregel model by reading the Pregel paper.

I am closing this issue.

[2014-06-26 14:45] #143 closed, assigned to nobody

[2014-07-17 07:04] Pallavim54 opened #144 "Getting eror to run scala testcases from https://github.com/amplab/graphx/blob/master/graphx/src/test/scala/org/apache/spark/graphx/GraphSuite.scala getting error"
When i m trying to run scala testcases from https://github.com/amplab/graphx/blob/master/graphx/src/test/scala/org/apache/spark/graphx/GraphSuite.scala getting error
## Stacktrace

WARNING: -p has been deprecated and will be reused for a different (but still very cool) purpose in ScalaTest 2.0. Please change all uses of -p to -R.
**\* RUN ABORTED **\*
  java.lang.ClassNotFoundException: org.apache

[2014-07-17 07:21] ankurdave commented on #144
Please use the repository at https://github.com/apache/spark, as GraphX has been merged into Spark and this repository is no longer maintained.

If the test failures persist, it may be a problem with your IDE. The standard way to run tests is from the command line using SBT:

[code]

[2014-07-17 07:22] #144 closed, assigned to nobody

[2014-07-17 07:23] ankurdave commented on #144
By the way, I'm not sure where "GraphTestSuite" is coming from -- if you want to run only GraphSuite, you can use:

[code]

[2014-07-17 08:22] Pallavim54 commented on #144
how to config sbt

[2014-07-17 10:45] Pallavim54 opened #145 "How to build project from https://github.com/apache/spark using sbt"
can anyone mention the steps which i need to follow for building spark application also commands to test the scala testcase.referring from https://github.com/apache/spark

I m getting build error
## Stacktrace

[ERROR] Failed to execute goal on project spark-core_2.10: Could not resolve dependencies for project org.apache.spark:spark-core_2.10:jar:1.1.0-SNAPSHOT: Failed to collect dependencies at

[2014-07-17 19:00] ankurdave commented on #145
Are you able to access the [URL](http://repo.maven.apache.org/maven2/org/easymock/easymockclassextension/3.1/easymockclassextension-3.1.pom) in the error message from a browser?

[2014-07-18 04:14] Pallavim54 commented on #145
i m not able to access this url http://repo.maven.apache.org/maven2/org/easymock/easymockclassextension/3.1/easymockclassextension-3.1.pom may be this is blocked by farewall.

and for (http://repo.maven.apache.org/maven2)

## it showing this:

Browsing for this directory has been disabled.
View this directory's contents on http://search.maven.org instead.
Find out more about The Central Repository

[2014-07-18 10:34] Pallavim54 commented on #145
yes now i m able to access the url but  i m not able to run graphx example under https://github.com/apache/spark/blob/master/examples/src/main/scala/org/apache/spark/examples/graphx/LiveJournalPageRank.scala

[2014-07-18 18:44] ankurdave commented on #145
How are you invoking it? What is the error message?

[2014-07-21 05:18] Pallavim54 commented on #145
I m getting this message when i m trying to build using maven clean install -DskipTests=true

## stacktrace:

java.lang.RuntimeException: No main class detected.
        at scala.sys.package$.error(package.scala:27)
        at sbt.Defaults$$anonfun$runTask$1$$anonfun$apply$36$$anonfun$apply$37$$
anonfun$26.apply(Defaults.scala:687)
        at sbt.Defaults$$anonfun$runTask$1$$anonfun$apply$36$$anon

[2014-07-21 05:23] Pallavim54 commented on #145
if i used sbt/sbt assembly then i m geeting the below error

## stactrace

java.lang.RuntimeException: Nonzero exit code (1): git clone https://github.com/ScrapCodes/sbt-pom-reader.git C:\Users\pmukherjee.sbt\0.13\staging\ec3aa8f39111944cc5f
        at scala.sys.package$.error(package.scala:27)
        at sbt.Resolvers$.run(Resolvers.scala:134)
        at sbt.Resolvers$.run(Resolvers.scala:123)

[2014-07-21 05:29] Pallavim54 commented on #145
can you please mention in steps that how to build the whole project and run the examples from https://github.com/apache/spark

[2014-07-21 06:00] ankurdave commented on #145
Here's how I build and run the project. I run OS X and use SBT, not Maven.
1. Make sure Java and Git are installed:

[code]
2. Clone the Spark repo:

[code]
3. Build an assembly JAR using SBT:

[code]
4. Run tests:

[code]
5. Run examples:

[code]

[2014-07-21 06:02] ankurdave commented on #145
From your `sbt assembly` stack trace, it looks like Git is failing when running `git clone https://github.com/ScrapCodes/sbt-pom-reader.git`. What happens when you run that command?

[2014-07-21 06:10] Pallavim54 commented on #145
i m able to clone the repository by using git clone https://github.com/ScrapCodes/sbt-pom-reader.git

[2014-07-21 09:44] Pallavim54 commented on #145
now i m able to build an assembly JAR using SBT:
also i m able to run  example using bin/run-example SparkPi.
but when i m doing ~/spark$ sbt/sbt test using SBT getting error in testcases

## stacktrace:

[error](streaming-flume/test:test) sbt.TestsFailedException: Tests unsuccessful
[error](core/test:test) sbt.TestsFailedException: Tests unsuccessful
[error](streaming-kafka/test:test) sbt.TestsFa

[2014-07-21 10:00] Pallavim54 commented on #145
Can u plz tell me  the syntax of input for running this graphx test https://github.com/apache/spark/blob/master/examples/src/main/scala/org/apache/spark/examples/graphx/LiveJournalPageRank.scala .

i m using
~/spark$ bin/run-example graphx.LiveJournalPageRank soc-LiveJournal1.txt --numEPart=6

## which is throwing eror ;

Exception in thread "main" java.lang.IllegalArgumentException: Invalid argum

[2014-07-21 10:22] ankurdave commented on #145
That command works for me:

[code]

Is it possible you used a space instead of an equals sign, as in `--numEPart 8`? The error occurs if I do that.

[2014-07-22 04:58] Pallavim54 commented on #145
## Geeting error with both cases:

$ ./bin/run-example graphx.LiveJournalPageRank ~/Downloads/web-Google/web-Google.txt --numEPart 8 or --numEPart=8
Exception in thread "main" java.lang.IllegalArgumentException: Invalid argument: --numEPart
        at org.apache.spark.graphx.lib.Analytics$$anonfun$2.apply(Analytics.scala:43)
        at org.apache.spark.graphx.lib.Analytics$$anonfun$2.apply(Analyti

[2014-07-23 09:37] Pallavim54 commented on #145
can u plz let me know about this command bcoz i m not able to run this example

[2014-12-10 11:17] johanstenberg92 opened #146 "Graph Constructor needs another type except VertexId?"
Hi,

This might just be me making a fool about myself but I'm using GraphX to run a couple of distributed algorithms on rasters. I essentially just create a graph of the raster, then run a graph algorithm, then I convert it back. So I don't need any metadata except the VertexId (which denotes where in the raster the vertex is). However I can't be able to shake needing another type except the Verte

[2014-12-10 21:15] ankurdave commented on #146
Unfortunately there isn't a way to skip the type. The best you can do is to use an Int, which is the smallest  type we specialize for.

[2014-12-10 23:23] johanstenberg92 commented on #146
Ok, thanks for the response!

[2014-12-10 23:23] #146 closed, assigned to nobody

[2015-11-10 08:51] cb200664 opened #149 "graphx latest version quesion"
it's now surpport semantic graphs and have  data lake?

[2015-11-10 08:57] #149 closed

[2016-06-15 20:37] NightRa commented on #20
I have this exact same issue while running MLLib's ALS for many iterations.